.shoppingCardItem {
    height: 300px;
    width: 400px;
    margin: 20px 0;
    padding: 10px;
    background-color: #051428;
    color: white;
    border-color: white;
    border-radius: 20px;
    /*display: flex;*/
}

.shoppingCardItem > div{
    display: flex;
    flex-wrap: wrap;
}


.cardTitle {
    display: flex;
    padding: 0 10%;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
}

.cardProgress {
    display: flex;
    justify-content: center;
    font-size: x-large;
    color: #B4E745;
}

.progressTopic {
    display: flex;
    justify-content: center;
    font-size: large;
    font-style: italic;
    background-color: #F3F3F3;
    color: black;
    padding: 2% 0;
    margin: 2% 10%;
    border-radius: 5px;
}

.cardNote {
    height: 130px;
    display: flex;
    justify-content: start;
    font-size: small;
    background-color: #F3F3F3;
    color: black;
    padding: 0 5px;
    margin: 2% 10%;
    border-radius: 5px;
}