.header__container {
    background-color: #043254;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
}

.header__container1 {
    margin: 18px;
    color: #f9f9f9;
}

.MetroDigital{

    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.color{
    color: #f9f9f9;
}

.MDApprenticeship{
    width: 189px;
    height: 25px;
}

.position{
    margin: 20px;

}

.dropdown{
    position: relative;
    display: inline-block;
}

.LogInSignUp{

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 0 16px 0 0;
    /* padding: 18px 0px 0px 10px; */
    color: #f9f9f9;
    a {
        color: #05dcc8;
    }
    a: hover; {
    color: #647deb;
}
}
.LogInMargin{
    margin-right: 5px;

}

.SignUoMargin{
    margin-left: 5px;

}

.buttonsize{

    font-size: 12px;
    background-color: #05dcc8;
    border: 3px solid #05dcc8;

}

.MD{
    width: 55px;
    height: 28px;
    border: 4px solid white;
    border-radius: 5px;
    background-color: white;
    margin-top: -8px;
    padding: 1px;
}


.MetroDeutschland {
    width: 90px;
    height: 26px;
}

.flexmex{
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-content: center;
}


.colormolor{
    width: 35px;
    height: 30px;
}

.lupa{
    display: flex;
    align-content: center;
}

.menuicon{
    padding: 0;
    background-color: #043254;
    width: 51px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuicon:hover {
    background-color: inherit;
}











