.header__container {
    background-color: #191970;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 5px;
}

.header__container1 {
    margin: 18px;
    color: #f9f9f9;
}


.color{
    color: #f9f9f9;
}

.MDApprenticeship{
    width: 189px;
    height: 25px;
}

.position{
    margin: 20px;
}

.LogInSignUp{

    display: flex;
    justify-content: space-between ;
    padding:  18px 0px 0px 10px;
    color: #f9f9f9;
}
.LogInMargin{
    margin-right: 5px;
}

.SignUoMargin{
    margin-left: 5px;
}
