.footer__container {
    color: white;
    position: relative;
    height: 100%
    width: 100%;
    font-family: arial black;
    font-size: 14px;
}
/*------------------------------------------------------------------------------upper Footer______*/
.upperFooter {
    display: flex;
    justify-content: space-between;
    background-color: #051428;
    color: white;
    height: 150px;
}

.sitemap {
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    padding-top: 10px;
    margin-left: -20px;

    ul {
        margin-top: 5px;
        padding-left: 20px;
        list-style-type: circle;
    }

    ul li {
        font-family: verdana;
        font-weight: 100;
        padding-left: 0;
    }
}

.sitemap > div{
    padding: 0 10px;
}

.menu {

}

.socialMedia {
    min-height: 100%;
    min-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;

    h4 {
    margin-bottom: 10px;
    }
}

.icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;

    a:hover {
        width: auto;
        height: 120%;
    }
}

.icon {
    width: auto;
    height: 80%;


}
/*------------------------------------------------------------------------------lower Footer______*/
.lowerFooter {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #043254;
    padding: 10px;
    font-family: arial;
    font-size: 12px;
}

.lowerFooter > div {

}

.lowerFooterLeft {
    margin-left: 35px;
    background-color: #647deb;
    border-radius: 5px;
    color: white;
    padding: 5px;
}
.lowerFooterRight {
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lowerFooterRight > div {
    a {
        color: white;
    }

    a:hover {
        background-color: #05dcc8;
        color: black;
        border-radius: 5px;
        padding: 5px;
    }
    margin-left: 20px;
}