.footer__container {
    color: white;
    text-align: center;
    position: relative;
    height: 100%
    width: 100%;
    font-family: arial black;
    font-size: 14px;
}
/*------------------------------------------------------------------------------upper Footer______*/
.upperFooter {
    display: flex;
    justify-content: space-between;
    background-color: #525A73;
    color: white;
    height: 150px;
}

.sitemap {
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    padding-top: 10px;
    margin-left: -20px;
}

.sitemap > div{
    padding: 0 20px;
}

.socialMedia {
    min-height: 100%;
    min-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
}

.icons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    width: 100%;
}

.icon {
    /*padding-bottom: 10px;
    padding-right: 15px;*/
}
/*------------------------------------------------------------------------------lower Footer______*/
.lowerFooter {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #191970;
    padding: 10px;
    font-family: arial;
    font-size: 12px;
}

.lowerFooter > div {
    color: #FFC900;
}

.lowerFooterLeft {
    margin-left: 35px;
}
.lowerFooterRight {
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lowerFooterRight > div {
    a {
        color: white;
    }

    a:hover {
        color: #FFC900;
        text-decoration: underline;
    }
    margin-left: 20px;
}