.loginModal {
    width: 400px;
    height: 400px;
    background-color: #043254;

    position: fixed;

    position: absolute;
    z-index: 100;
    border: 1px solid whitesmoke;

    border-radius: 15px;
    border-color: lightseagreen;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginStyle{

    background-color: white;
    border: 2px solid #f58c6e;
    width: 70px;
    height: 25px;
    padding: 0;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.loginStyle:hover {
    background-color: #f58c6e;

    border: 2px solid #f58c6e;
}


.inputStyle {

    width: 220px;
    height: 20px;
    border-radius: 10px;
}

.textColor{
    color:  white;
    font-weight: bold;

}

.Xstyle{
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    top: 8px;
    right: 8px;


}


.XIconName{
    width: 10px;
    height: 10px;
}

